#!/bin/bash
{{ if ne .chezmoi.os "darwin" }}exit 0{{ end }}
set -euo pipefail

echo "Installing fonts..."
mkdir -p "$HOME/Library/Fonts"
cp -n "{{ .chezmoi.sourceDir }}"/fonts/*.ttf "$HOME/Library/Fonts/"
