"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-go": {}
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.shell": [
        "tf"
      ]
      "source.yaml": [
        "yaml.tpl"
      ]
    disabledPackages: [
      "welcome"
      "symbols-view"
      "autocomplete-glsl"
      "atom-ctags"
      "dash"
      "go-rename"
      "mathjax-wrapper"
    ]
    excludeVcsIgnoredPaths: false
  dyndocker: {}
  editor:
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "beca608e-8581-bdfe-3bde-a1a9bd166fed"
  "file-icons": {}
  "go-oracle": {}
  "go-plus":
    autocomplete:
      suppressBuiltinAutocompleteProvider: false
    panel:
      displayMode: "closed"
      focusOnFailure: false
    panelDisplayMode: "closed"
    test:
      focusPanelIfTestsFail: false
  "go-rename": {}
  "gometalinter-linter": {}
  "highlight-line":
    enableSelectionBorder: true
    hideHighlightOnSelect: true
    underline: "dashed"
  linter: {}
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 136.5
    panelRepresents: "Entire Project"
    statusBarClickBehavior: "Toggle Status Bar Scope"
  "one-dark-ui": {}
  react: {}
  tabs:
    addNewTabsAtEnd: true
  "tester-go": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
