[user]
	name = Fabiano Frizzo
	email = ffrizzo@gmail.com
[credential]
	helper = osxkeychain
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[merge]
	summary = true
[core]
	excludesfile = ~/.gitignore-global
	editor = code -n -w
[push]
	default = current
[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true
[diff]
	renames = copies
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[include]
	path = 	~/.gitconfig-confidential
